NTU/X.pkl
.conda
SGN/__pycache__/
results/
mlruns/
SGN/SGN/pretrained/
SGN/pretrained/*.txt
training_stages_log/
NTU/SGN/denoised_data/
NTU/SGN/nturgb+d_skeletons/
NTU/SGN/*.pkl
NTU/SGN/raw_data/
pretrained/*/
model/
graph/